@charset "utf-8";

html,
body,
div,
p,
ul,
ol,
li,
a,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
select,
option,
strong,
span,
em,
dl,
dt,
dd,
table,
th,
td,
tr,
img,
video {
    margin: 0;
    padding: 0;
}

/* webfont */
@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Recipekorea';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Recipekorea.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TheJamsil3Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil3Regular.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* html{font-size: large;} */
#wrap {
    min-width: 1400px;
    overflow: hidden;
}

body {
    color: #555;
    font-family: 'TheJamsil3Regular';
    line-height: 38px;
    font-size: 18px;

}

/* top */
/* header*/
#header {
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: 100px;
    position: fixed;
}

.inner_header {
    display: flex;
    height: 100px;
    width: 1320px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    display: block;
}

.header_scrolled {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 5px 15px #0000000f;
    transition: 0.5s all linear;
}

/* nav */
.nav {
    display: flex;
    margin-right: 280px;

}

.nav li a {
    display: block;
    font-size: 18px;
    padding: 10px;
    margin: 0 10px;
}

/* nav hover */
.nav li:hover {
    font-family: 'TheJamsil5Bold';
    color: #E73A2D;
}

/* link */
.link {
    display: flex;
}

.link li a {
    display: block;
    padding: 0 5px;
    margin: 0 15px;
}

.link li {
    position: relative;
}

/* link hover */
.link li :hover {
    color: #E73A2D;
}

.link li::before {
    content: '';
    height: 10px;
    width: 1px;
    background-color: #aaa;
    position: absolute;
    top: 12px;
    left: 0;
}

.link li:nth-child(1)::before {
    display: none;
}

/* banner */
#banner {
    background: url(../images/sub5_img/recipe_banner.png) center no-repeat;
    height: 806px;
}

.banner_title {
    width: 1320px;
    margin: 0 auto;
    text-align: left;
    padding-top: 270px;
}

.banner_title p {
    font-size: 30px;
    padding-bottom: 55px;
}

.banner_title h1 {
    font-size: 75px;
    font-family: 'Recipekorea';
}
/* section1 */

.inner_section1{
    width: 1320px;
    margin: 120px auto;
}
.title p {
    font-size: 40px;
    font-family: 'Recipekorea';
    padding: 50px 0;
    text-align: center;
    line-height: 60px;
}
.inner_section1_wrap{
    display: flex;
    justify-content: space-between;
    height: 630px;
}
.inner_section1_wrap a{
    display: block;
}
.inner_section1_wrap img{
    display: block;
}
.right_section1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.top_right_section1{
    display: flex;
    justify-content: space-between;
}
.cover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 99;
    background-color: #000000ae;
    opacity: 0;
    transition: 0.5s all linear;
}
.cover_wrap{
   overflow: hidden;
    position: relative;
    border-radius: 30px;
}
.cover_wrap:hover .cover {
    opacity: 1;
    
}
.cover_text {
    color: #fff;
    opacity: 1;
    padding: 115px 0px 50px 30px;
}
.cover_text_L{
    color: #fff;
    opacity: 1;
    padding: 230px 0px 100px 150px;
    scale: 1.5;
}
.date {
    display: flex;

}

.date p {
    padding-right: 15px;
    margin-right: 15px;
    position: relative;
}
/* section2 */
#section2{
    background-color: #FFF4B8;
    height: 1110px;
}
.inner_section2{
    width: 1320px;
    margin: 0 auto;
    padding-top: 50px;
    height: 1110px;
}
/* swiper */
.swiper-slide {
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 645px;
    height: 650px;
}
.swiper-button-next {
    background: url(../images/main_img/arrow/arrow_right_product.png) no-repeat;
    opacity: 0.6;
}

.swiper-button-next:hover {
    background: url(../images/main_img/arrow/arrow_righft_product_color.png) no-repeat;
    opacity: 1;
}

.swiper-button-prev {
    background: url(../images/main_img/arrow/arrow_left_product.png) no-repeat;
    opacity: 0.6;
}

.swiper-button-prev:hover {
    background: url(../images/main_img/arrow/arrow_left_product_color.png) no-repeat;
    opacity: 1;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    display: none;
}
.bg1{
    background: url(../images/sub5_img/tip_1.jpg) no-repeat center top #fff;
}
.bg2{
    background: url(../images/sub5_img/tip_2.jpg) no-repeat center top #fff;
}
.bg3{
    background: url(../images/sub5_img/tip_3.jpg) no-repeat center top #fff;
}
.bg4{
    background: url(../images/sub5_img/tip_4.jpg) no-repeat center top #fff;
}
.swiper-slide a{
    width: 645px;
    height: 640px;
    box-sizing: border-box;
    border-radius: 30px;
    margin-bottom: 20px;
    display: block;
    padding: 550px 0px 0 50px;
}
.tip_title p{
    font-size: 25px;
}
/* section3 */
.inner_section3{
    width: 1320px;
    margin: 70px auto;
}
.title_wrap{
    display: flex;
    text-align: left;
    align-items: center;
}
.recipe_arrow a{
 display: block;
 padding: 0px 0px 11px 50px;
}
.recipe_wrap{
    display: flex;
    justify-content: space-between;
}
.recipe_wrap li{
    width: 415px;
    height: 550px;
    border-radius: 30px;
    box-shadow: 0px 0px 30px #0000002e;
    overflow: hidden;
}
.recipe_wrap li a{
    display: block;
}
.recipe_box_1{
   background: url(../images/sub5_img/people_recipe_1.jpg) center top no-repeat;
   height: 380px;
   overflow: hidden;
}
.recipe_box_2{
   background: url(../images/sub5_img/people_recipe_2.jpg) center top no-repeat;
   height: 380px;
   overflow: hidden;
}
.recipe_box_3{
   background: url(../images/sub5_img/people_recipe_3.jpg) center top no-repeat;
   height: 380px;
   overflow: hidden;
}
.recipe_text{
    padding: 40px 0px 0px 30px;
}
.date{
    margin-top: 20px;
}
/* footer */
#footer {
    margin-top: 100px;
    background: url(../images/common/footer_bg.png) center top no-repeat;
    height: 500px;
}

.inner_footer {
    display: flex;
    width: 1320px;
    margin: 0 auto;
    padding: 150px 0;
    align-items: top;
    justify-content: space-between;
    position: relative;
}

.logo a {
    display: block;

}

.footer_text {
    color: #ccc;
    margin-top: 20px;
}

.footer_text>p {
    padding: 0 20px;
}

.footer_link {
    display: flex;
}

.footer_link a {
    display: block;
    color: #fff;
    padding: 0 10px;
    margin: 0 10px;
}

.footer_link li {
    position: relative;
}

.footer_link li a:hover {
    opacity: 0.6;
    transition: all 0.3s linear;
}

.footer_link li:nth-child(1)::after {
    display: none;
}

.footer_link li::after {
    background-color: #aaa;
    width: 1px;
    height: 10px;
    content: '';
    position: absolute;
    bottom: 15px;
    left: 0;
}

.footer_adress {
    display: flex;
    padding: 0 20px;
}

.footer_adress p {
    margin-right: 20px;
}

.footer_sns {
    display: flex;
    margin-left: 150px;
    margin-top: 20px;
}

.footer_sns a {
    display: block;
    margin-left: 15px;
}

.footer_sns a:hover {
    opacity: 0.6;
    transition: all 0.3s linear;
}

/* top_btn */
#top_btn_wrap {
    position: fixed;
    z-index: 700;
    bottom: 30px;
    right: 30px;
    font-size: 0;
    display: block;
    width: 110px;
    height: 110px;
    cursor: pointer;
}

.top_btn {
    position: absolute;
    z-index: 800;
    bottom: -22px;
    right: 0;
    display: block;
    width: 100%;
    height: 100%;
    transition: all 0.3s linear;
    opacity: 1;
}

.top_btn_click {
    opacity: 0;
    transition: all 0.3s linear;
}

#top_btn_wrap:hover .top_btn_click {
    opacity: 1;
}

#top_btn_wrap:hover .top_btn {
    opacity: 0;
}
